<ngx-auth-firebaseui appearance="standard"
                     [emailText]="'Correo'"
                     [nameText]="'Nombre'"
                     [signInTabText]="'Autenticarse'"
                     [signInCardTitleText]="'Bienvenido'"
                     [loginButtonText]="'Ingresar'"
                     [registerTabText]="'Registrarse'"
                     [registerCardTitleText]="'Ingrese sus datos'"
                     [registerButtonText]="'Registrar nuevo usuario'"
                     [guestEnabled]="false"
                     [emailConfirmationText]="'Confirme su correo'"
                     [emailConfirmationTitle]="'Confirmar'"
                     [messageOnEmailConfirmationSuccess]="'Ha sido confirmado su usuario'"
                     [verifyEmailConfirmationText]="'Por favor confirme su correo, revise la carpeta SPAM'"
                     [verifyEmailTitleText]="'Confirme su correo'"
                     [sendNewVerificationEmailText]="'Enviar nuevamente correo verificacion'"
                     [verifyEmailGoBackText]="'Regresar a home'"
                     [signOutText]="'Salir del sistema'"
                     [forgotPasswordButtonText]="'Olvide mis credenciales'"
                     [providers]="[authProviderEnum.EmailAndPassword]"
                     (onSuccess)="dirigirARutaAsyncPoker()"
></ngx-auth-firebaseui>
